/* Home.module.css */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
    background-color: #230883eb; 
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); 
  }
  
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
    margin: 0 auto;
  }
  
  .navList {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .loginButton {
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    transition: all 0.3s ease;
    border-radius: 50px;
    margin-right: auto; 
    order: 1;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  
  @keyframes ping {
    0% { transform: scale(0.1); opacity: 1; }
    80%, 100% { transform: scale(1.2); opacity: 0; }
  }
  
  .icon {
    height: 24px; 
    width: 24px;
  }
  
  /* Example media query for responsiveness */
  @media (max-width: 768px) {
    .nav {
      padding: 10px 2%;
    }
  
    .navItem {
      margin-right: 10px;
    }
  
    .loginButton {
      padding: 5px 10px;
      font-size: 2rem;
    }
  }
  